<a href="https://colab.research.google.com/github/NicolasJasonDL/58003-OOP/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Operators

In [2]:
print(10>9)
print(10==9)
print(10<9)
print(10==10)
print(9==9)

True
False
False
True
True

#bool() function

In [8]:
print(bool(1))
print(bool("Maria"))
print(bool(-1))
print(bool(0))
print(bool(None))
print(bool([]))

True
True
True
False
False
False

In [12]:
w = str(input())

Jason

#Function can Return a boolean

In [13]:
def myFunction():
  return True

print (myFunction())

True

#Python Operators

In [16]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10//3)
print(10%3)

15
5
50
2.0
3
1

#Bitwise Operation

In [22]:
a = 60
b = 13

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a>>b)

12
61
49
120
0

#Python Assignment Operators

In [23]:
x = 6
x += 3 #same as x = x + 3
        #x = (6) + 3 = 9
print(x)

9

#Logical Operators

In [26]:
t = True
s = False

print(t and s)
print(t or s)
print(not (t or s)) #not(True) = False

False
True
False

#Identity Operator

In [29]:
#is is not

t = True
s = False
print(t is t)
print(t is s)
print(t is not s)

True
False
True