<a href="https://colab.research.google.com/github/NicolasJasonDL/58003-OOP/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Introduction to Python Fundamentals

In [1]:
#output variable
x = "NicolasJason"
print(x)
x = "enjoying"
print ("python programming is " + x)

NicolasJason
python programming is enjoying

In [ ]:
#python indentation
if 5>2:
  print("5 is greater than 2")

5 is greater than 2

In [ ]:
#declaration of value
x = 5
y = 2

if x>y:
  print("5 is greater than 2")
elif x<y:
  print("2 is greater than 5")
else:
  print ("5 and 2 are equal")

5 is greater than 2

In [ ]:
#python variable
a = 0
b = -1

print(a)

0

In [ ]:

#python variable with multiple values
a = 0
b = -1
c = -2
print(a)
print(b)
print(c)

0
-1
-2

In [ ]:
a = 1
b = 2
c = 3
print(a)

1

In [ ]:
#single variable with multiple values
a = b = c = 4.5
print(a)
print(b)
print(c)

4.5
4.5
4.5

In [ ]:
print(type(a))

<class 'float'>

#Casting

In [2]:

a = "Sally"
b = int(4)
print(b)
b = float (4)
print(b)

4
4.0

#Type() Function

In [3]:
a = "Sally"
print(type(a))

<class 'str'>

#Double or Single quotes

In [7]:
y = "John"
y = 'John'
print(y)

John

In [6]:
Y = "Ana"
y = 'John'
print(Y)
print(y)

Ana
John

In [5]:
a = "Maria"
print(a)

Maria

In [8]:
print(y)

John

#Concatenation

In [10]:
k = "Python is"
l = " enjoying"
print(k+l)

Python is enjoying

In [13]:
l = "enjoying"
print("Python is " + l)

Python is enjoying

In [16]:
x = "Python is"
y = " enjoying"
z = x + y
print(z)

Python is enjoying