<a href="https://colab.research.google.com/github/NicolasJasonDL/58003-OOP/blob/main/Variables_and_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ['abc', 1,3,1]
print(fruits)
fruits.insert(2,2)
print(fruits)

In [17]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

student = Person("ana",20)
teacher = Person("Maam Sayo",40)
print(student.name)
print(student.age)

print(teacher.name)
print(teacher.age)

ana
20
Maam Sayo
40

In [25]:
class Shapes:
  def __init__(self,length,width):
    self.length = length
    self.width = width

  def area_rec(self):
    return self.length*self.width

rectangle=Shapes(10,5)
rectangle.area_rec()

50

In [26]:
pi = 3.14159
varList = [1,2,"A","B","Hello",pi]
print(varList[0])
print(varList[4])

1
Hello

In [36]:
varList.append(5)
print(varList)

[1, 2, 'A', 'B', 'Hello', 5, 5, 5, 5, 5]

In [38]:
varList.remove(2)
print(varList)

[1, 'A', 'B', 'Hello', 5, 5, 5, 5, 5]

In [41]:
var = "Hello, World!"
varDict = {'first' : 123, 2 : 'abc', '3' : var, 4: ['lista','listb']}

print (varDict['first'])
print (varDict ['3'])
print (varDict[4])
print (varDict)

123
Hello, World!
['lista', 'listb']
{'first': 123, 2: 'abc', '3': 'Hello, World!', 4: ['lista', 'listb']}

In [52]:
varList = [1,2,3,4,5,6,7,8,9,10]
print (varList[5:])
print (varList[:6])
print (varList[2:8])
print (varList[1:10:2])

[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6]
[3, 4, 5, 6, 7, 8]
[2, 4, 6, 8, 10]
[1, 2]
[1, 2]

In [53]:
print (varList[:2])
print (varList[:-8])

[1, 2]
[1, 2]